.App
  display: flex
  justify-content: center
  align-items: center
  font-family: Roboto
  width: 100vw
  height: 100vh
  overflow: hidden
  background: rgb(128,71,40)
  background: linear-gradient(180deg, rgba(128,71,40,1) 0%, rgba(65,39,18,1) 100%)


.appTitle
  text-align: center
  margin: 0
  margin-bottom: 50px

.content
  height: 800px
  width: 700px
  border-radius: 30px
  box-shadow: 0px 0px 42px -7px rgba(0,0,0,0.41)
  background-color: #fff

.contentIn
  display: flex
  flex-direction: column
  align-items: center
  padding: 40px 40px 100px
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: overlay

